
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* 

    Cor primaria: #F9D84D 
    cor primaria clara: #FFE36E
    cor secundaria: #1B5173
    cor secundaria clara: #487A9B
    cor de fundo: #333333
    cor do texto: #cccccc
*/
/* VARIAVEIS */
:root {
    --cor-prim: #F9D84D;
    --cor-prim-clara: #FFE36E;
    --cor-secun: #F94D58;
    --cor-secun-clara:  #FD9CA3;
    --cor-fundo: #333333;
    --cor-fundo-clara: #555555;
    --cor-texto: #cccccc;
    --fonte-texto: 'IBM Plex Sans', sans-serif;
    --fonte-titulo: 'Playfair Display', serif;
    
}

/****Css reset***/
*{
    font-family: var(--fonte-texto);
    padding: 0;
    margin: 0;
    box-sizing: unset;
    background-color: var(--cor--fundo) ;
    color: var(--cor-texto);
}
/****Css reset***/

body{
    background-color: var(--cor-fundo-clara);
    font-size: 16px;
}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/    
    background-color:var(--cor-prim);
    min-height: 50px;
    flex-wrap: wrap;
}
#social ul{
    list-style: none;
    display: flex;

}
#social ul li img{
    width: 50px;
    filter: brightness(0.15);
        
}
#social ul li a {
    height: 40px;
    align-items: center;
    display: flex;
    margin-left: 20px;
    color: var(--cor-fundo);
    text-decoration: none;
}
#social ul li a span{
    margin-left: 20px;
    color: var(--cor-fundo);
    visibility: hidden;
    width: 0;
    
}
#social ul li a:hover span{
    visibility: visible;
    width: auto;
    animation: para-tras 1s;
}
#logo{
    margin: 20px;
}


#menu-principal{
    display:flex;     
    justify-content: center; /*Centralização horizontal*/  
    align-items: center; /*Centralização vertical*/    
    background-color: var(--cor-secun);
    min-height: 25%;
    width: 100%;
    margin: 5px;
    
}
#menu-principal ul {   
    display: flex;   
    list-style: none; /* Tira a decoração da lista */   
}

#menu-principal ul li {
    display: flex;
    height: 36px;
    margin: 0 10px; /* 0 topo e fundo, 10px esquerda e direita */   
    font-family: var(--fonte-titulo);
}
#menu-principal ul li a{   
    display: flex;    
    height: 36px;
    align-items: center; 
    padding: 0 10px; 
    background-color: var(--cor-secun);
    transition: 300ms;
     
}
#menu-principal ul li a:hover{
    filter: brightness(1.2); /* menor que 0 escurece a cor de fundo, maior que 0 */
}

main{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: stretch; /*Meus filhos tem meu tamanho*/    
    min-height: 300px;
}

section{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/
    flex-direction: column;/*filhos em coluna*/    
    background-color: transparent;
    min-height: 100%;
    flex-grow: 3;
    margin: 20px;
}

section > h1{
    text-align: left;
    width: 100%;
    font-family: var(--fonte-titulo);
    font-style: italic;
    font-size: 2rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
hr{
    width: 100%;
}

article{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/    
    background-color:transparent;
    margin: 5px;
    min-height: 50px;
    width: 100%;
    flex-wrap: wrap;
}

article h1{
    text-align: center;
    font-style: normal;
    font-size: 1.5rem;
    font-family: var(--fonte-titulo);
    width: 100%;
    margin-top: 20px;
}

.cartao-carro{
   
    border: 1px solid var(--cor-fundo);
    background: var(--cor-fundo);
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 16px;
   
   
}
.cartao-carro img{
    width: 100%;
    margin-top: 16px;
    
}

.fusca{
    width: 100%;
    height: 200px;
    margin-top: 16px;
}

.cartao-carro h1{
    text-align: left;
    margin-left: 20px;
    font-family: var(--fonte-titulo);
    font-size: 1.3rem;
    color: var(--cor-prim-clara);
}

.cartao-carro p {
   margin-top: 10px;
   margin-left: 30px;
}

.cartao-carro a {
    text-decoration: none;
    
}

div{
    background: var(--cor-fundo-clara);
    border-radius: 16px;
    height: 100%;
    
}
.cartao-carro div{
    background: var(--cor-fundo);
}
.cartao-carro a:hover div{
    filter: brightness(1.2);
    box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.15);
}
aside{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/ 
    text-align: center;   
    background-color: var(--cor-fundo);
    min-height: 100%;    
    margin: 20px;
    width: 25%;
    border-radius: 16px;
    padding: 16px;
    font-size: 1.2rem;

}
aside a {
    text-align: center;
    color: var(--cor-prim-clara);
    text-decoration: none;
}
aside a:hover {
    text-decoration: underline;
}
aside article{
    text-align: center;
    margin:  50px 0;
    padding: 30px 0;
    border: 3px groove var(--cor-texto); 
    border-radius: 15px;   
}
.vendido p{
    font-style: italic;
}
footer{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/    
    background-color: var(--cor-fundo);
    min-height: 50px;
    padding: 20px;
    justify-content: space-around;

}

footer a{
    color: var(--cor-secun);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
/*Regras para tela com largura até 600px*/
@keyframes para-tras{
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

/* REGRAS DE RESPONSIVIDADE*/

/* Dispositivos (celulares) pequenos */

@media screen and (max-width: 1200px){ 
    body{
        border: 3px dashed limegreen;
        
    }  
    main {
        display: flex;
        flex-direction: column;
    }
    section, aside {
        width: calc(100% - 40px);
     
    }
} 

/* Dispositivos (celurares) medios */
@media screen and (max-width: 992px){ 
    body{
        border: 3px dashed aquamarine;
    } 
    main {
        display: flex;
        flex-direction: column;
    }
    section, aside {
        width: calc(100% - 40px);
       
    }
}

/* Dispositivos (tablets) */
@media screen and (max-width: 768px){   
    body{
        border: 3px dashed gold;
    }  
    main {
        display: flex;
        flex-direction: column;
    }
    #social ul li a span{
        display: none;
    } 
    section, aside {
        width: calc(100% - 40px);
    } 
}

/* Dispositivos (tablets) */
@media screen and (max-width: 576px){  
    body{
        border: 3px dashed magenta;
        } 
    main {
        display: flex;
        flex-direction: column;
    }
    section, aside {
       width: calc(100% - 40px);
    }
    #social ul li a span{
        display: none;
    }  
}

/* Padrão do nosso CSS é pra telas > 1200px */