
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* 

    Cor primaria: #F9D84D 
    cor primaria clara: #FFE36E
    cor secundaria: #1B5173
    cor secundaria clara: #487A9B
    cor de fundo: #333333
    cor do texto: #cccccc
*/
/* VARIAVEIS */
:root {
    --cor-prim: #F9D84D;
    --cor-prim-clara: #FFE36E;
    --cor-secun: #F94D58;
    --cor-secun-clara:  #FD9CA3;
    --cor-fundo: #333333;
    --cor-fundo-clara: #555555;
    --cor-texto: #cccccc;
    --fonte-texto: 'IBM Plex Sans', sans-serif;
    --fonte-titulo: 'Playfair Display', serif;
    
}

/****Css reset***/
*{
    font-family: var(--fonte-texto)
    padding: 0;
    margin: 0;
    box-sizing: unset;
    background-color: var(--cor--fundo) ;
    color: var(--cor-texto)
}
/****Css reset***/

body{
    background-color: var(--cor-fundo);
}

header{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/    
    background-color:var(--cor-prim);
    min-height: 50px;
    flex-wrap: wrap;
}

#menu-principal{
    display:flex;     
    justify-content: start; /*Centralização horizontal*/  
    align-items: center; /*Centralização vertical*/    
    background-color: var(--cor-secun);
    min-height: 25%;
    width: 100%;
    margin: 5px;
    
}
#menu-principal ul {   
    display: flex;   
    list-style: none; /* Tira a decoração da lista */   
}

#menu-principal ul li {
    display: flex;
    height: 36px;
    margin: 0 10px; /* 0 topo e fundo, 10px esquerda e direita */   
    font-family: var(--fonte-titulo);
}
#menu-principal ul li a{   
    display: flex;    
    height: 36px;
    align-items: center; 
    padding: 0 10px; 
    background-color: var(--cor-secun);
    transition: 300ms;
     
}
#menu-principal ul li a:hover{
    filter: brightness(1.2); /* menor que 0 escurece a cor de fundo, maior que 0 */
}
main{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: stretch; /*Meus filhos tem meu tamanho*/    
    min-height: 300px;
}

section{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/
    flex-direction: column;/*filhos em coluna*/
    border: 1px solid rgb(32, 1, 53);
    background-color: var(--cor-fundo-clara);
    min-height: 100%;
    flex-grow: 3;
    margin: 5px;
}

article{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/
    border: 1px solid rgb(182, 135, 6);
    background-color:var(--cor-secun);
    margin: 5px;
    min-height: 50px;
    width: 100%;
}

aside{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/
    border: 1px solid rgb(32, 1, 53);
    background-color: var(--cor-fundo);
    min-height: 100%;
    flex-grow: 1;
    margin: 5px;
}

footer{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/
    
    background-color: var(--cor-fundo-clara);
    min-height: 50px;
}
/*Regras para tela com largura até 600px*/
@media screen and (max-width: 600px){
    main{
        /* Muda a direção dos filhos para coluna vertical*/
        flex-direction: column;
    }
    section, aside{
        width: 100%;
    }
} 